@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sevillana&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

/* navbar */

nav {
    padding: 30px;
    font-family: "Playfair Display", serif;
    z-index: 1030; 
    position: fixed !important;
    width: 100vw !important;
    background-color: transparent;
}

nav a {
    font-weight: bold;
    color: #ffffff;
}

nav a.router-link-exact-active {
    color: #ffffff;
    font-weight: bolder;
}

.navbar-nav .nav-link.router-link-exact-active {
  color: #ffffff; 
  font-weight: bolder;
}

.navbar-nav .nav-link {
  font-weight: bold;
  color: #333; 
}

html {
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: scroll;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, rgba(250, 170, 190, 0.9), rgba(247, 212, 109, 0.9));
}



img[alt='logo'] {
    width: 5rem;
}

.wrapper {
    display: grid;
    grid-template-rows: auto minmax(100dvh, 100%) auto
  }
